[color]
	ui = true

[user]
	name = Orvar Segerström
	email = orvarsegerstrom@gmail.com
	signingkey = E2BD676B3F55C95CE1EA2EDA90E1E63F7FBBC23D

[alias]
  prune-branches = !git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D

[core]
	autocrlf = false
[commit]
	verbose = true
[sequence]
	editor = interactive-rebase-tool
[diff]
	renameLimit = 1000
[push]
	default = current
	autoSetupRemote = true

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[interactive]
	diffFilter = delta --color-only --features=interactive
[delta]
	commit-decoration-style = bold box ul
	minus-style             = syntax bold "#4e0000"
	plus-style              = syntax bold "#022b00"
	line-numbers            = true
[delta "interactive"]
	keep-plus-minus-markers = false
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
