[color]
	ui = auto

[alias]
	plog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' 
[user]
	name = Orvar Segerström
	email = orvarsegerstrom@gmail.com
[branch "master"]
	remote = origin
	merge = refs/heads/master
[push]
	default = current
